html, body {
  margin: 2%;
  padding: 0;
  background-color: #E7F3FF;
}
canvas {
  border: 2px solid black;
  font-family: "Segoe UI", sans-serif;
}

.title{
  font-family: "Segoe UI", sans-serif;
  font-size: 35px;
  font-weight: 500;
}